@tailwind base;
  @tailwind components;
  @tailwind utilities;

@layer base {
  :root {
    --background: 225 43% 100%;
    --foreground: 225 54% 4%;
    --muted: 195 27% 93%;
    --muted-foreground: 195 13% 32%;
    --popover: 225 43% 100%;
    --popover-foreground: 225 54% 4%;
    --card: 225 43% 100%;
    --card-foreground: 225 54% 4%;
    --border: 225 15% 90%;
    --input: 225 15% 90%;
    --primary: 13.67 86.81% 64.31%;
    --primary-foreground: 225 17% 8%;
    --secondary: 195 17% 68%;
    --secondary-foreground: 195 17% 8%;
    --accent: 11.12 85.77% 53.14%;
    --accent-foreground: 255 17% 8%;
    --destructive: 351.11 94.03% 60.59%;
    --destructive-foreground: 15 82% 88%;
    --ring: 225 17% 68%;
    --radius: 0.5rem;
  }

  .dark {
    --card: 300 1.37% 28.63%;
    --foreground: 225 39% 97%;
    --muted: 195 27% 7%;
    --muted-foreground: 195 13% 68%;
    --popover: 225 40% 1%;
    --popover-foreground: 225 39% 97%;
    --background: 0 0% 9.02%;
    --card-foreground: 225 39% 97%;
    --border: 225 15% 15%;
    --input: 225 15% 15%;
    --primary: 13.67 86.81% 64.31%;
    --primary-foreground: 225 17% 8%;
    --secondary: 195 17% 68%;
    --secondary-foreground: 195 17% 8%;
    --accent: 11.12 85.77% 53.14%;
    --accent-foreground: 255 17% 8%;
    --destructive: 351.11 94.03% 60.59%;
    --destructive-foreground: 0 0% 0%;
    --ring: 225 17% 68%;
  }
}

@layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }